[Unit]
Description=Start Audio Video Streaming Service
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u av_stream_service.py
WorkingDirectory=/home/pi/.av_stream
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target 
