<html>
<head>
<title>Audio Video Streaming Service Help</title>
</head>
<body style="background-color:white;">
<table style="border:1px solid black;padding-left: 10px;padding-right: 10px;margin-left:auto;margin-right:auto;background-color:silver;width=640px;"><tr><td>
<center><h1>Audio Video Streaming Service Help</h1></center>
<pre>
Turn a Raspberry Pi into a audio video streaming service that can either live stream to Facebook or
broadcast using UDP on port 4569.

<b>Overview:</b>
<b>---------</b>
1. Switch on beeps twice when ready.
2. Press switch to start/stop stream LED lights up when streaming.
3. Long press (4 sec or more) to shutdown.

<b>Things We Need:</b>
<b>---------------</b>
  Raspberry Pi      Pi Camera     Network Cable
  USB Soundcard     Headphones    Power Cable 

<b>Initial Setup Process:</b>
<b>----------------------</b>
Connect the headphones, network cable, USB soundcard, power cable and power up the Raspberry Pi. Put the 
headphones on within a minute of the Pi starting and you will hear "Hello this is Raspberry Pi and my IP 
address is ...". Write down the IP address, you will also hear through the built-in speaker two beeps to 
notify you that the Pi is ready. Using a computer connected to the local network open a web browser and 
type the IP address you wrote down followed by a colon and port number 8000 i.e. if the IP address is 
"192.168.0.10" type 192.168.0.10:8000 into the browser. This displays a webpage with a preview of the 
camera image and the settings you can modify. At the bottom of the page are buttons to save, reset and 
links to help and info. Click onto the help link for further operating instructions.

<b>Startup Process:</b>
<b>----------------</b>
Power up the RPi and wait until you hear 2 beeps and if headphones are connected the words "Hello this 
is Raspberry Pi and my IP address is ..." followed by the IP address of the device. This indicates the 
Pi is ready to start streaming.

<b>Start Stream:</b>
<b>-------------</b>
Press the switch once to start streaming to facebook (using the supplied stream key) or for to test 
your settings before streaming live to Facebook you can select 'Startup UDP'. This broadcasts over 
the local area network (LAN) using UDP (i.e. udp://224.0.0.1:4569). The LED, speaker will flash and 
beep 4 times (morse code letter 'v' for videoing) before starting the stream if headphones are 
connected you will also hear the words "Starting stream" Once streaming begins the led remains on.

<b>End Stream:</b>
<b>-----------</b>
To stop the stream press the switch again the LED and speaker will flash and beep once (morse code 
letter 'e' for ending) and the words "Ending stream" can be heard through the headphones. The LED will
remain off once the stream has stopped

<b>Shutdown Process:</b>
<b>-----------------</b>
To power down the RPi press and hold the switch for four seconds; the led flashes and the speaker beeps
three times (morse code letter 's' for shutdown) and the words "Shutting down" can be heard through 
headphones before starting the shutdown process.

<b>Advanced Setup:</b>
<b>---------------</b>
Using a computer connected to the local network we have two ways to connect to the Pi, Secure Shell 
Protocol (SSH) or if installed onto Raspbian full version - Virtual Network Computing (VNC).
<b>Using SSH</b> To connect using SSH download and install Putty. Using Putty connect to the Pi with 
the IP address you wrote down i.e. if the IP address is "192.168.0.10" type 192.168.0.10. Type in the 
username (pi) and password (default is raspberry). Once connected using SSH type 'cd /home/pi/.av_stream' 
to change directory; type 'ls -a' to view all the files for Audio Video Streaming Service.
<b>Using VNC</b> To connect using VNC download and install TightVNC. Using TightVNC connect to the Pi 
with the IP address you wrote down, two colons and port number 5901 i.e. if the IP address is 
"192.168.0.10" type 192.168.0.10::5901 Type in the username (pi) and password (default is raspberry). 
Once connected using VNC navigate to the '/home/pi/.av_stream' directory to view all the files for Audio 
Video Streaming Service.
<b>NOTE:-</b> If you are connected using VNC you may notice that OBS Studio is installed. THIS IS FOR 
TESTING PURPOSES ONLY! Currently as of April 2021 OBS Studio does not utilize the graphics processor 
(GPU) for hardware encoding, leaving only software encoding using the CPU. When recording or streaming 
this over-works the poor Pi which can only a manage 5fps at 1920x1080, 10fps at 1280x720 and 18fps at 
a resolution of 960x540. The CPU will reach 75 degrees centigrade very rapidly. For this reason, this 
should not be used for long periods or it will eventually damage the Pi. Like I said earlier only for 
testing purposes.

<b>Config file:</b>
<b>------------</b>
The config file can be found in the <b>/home/pi/.av_stream</b> directory. Click onto Info button to see
a list of all the settings available, some settings can only be only be modified using SSH or VNC.

<b>Troubleshooter:</b>
<b>---------------</b>
If you hear the sos distress message in morse code (ie dot-dot-dot dash-dash-dash dot-dot-dot) repeating,
either plug in a pair of headphones and listen to one of the following error messages:

  Warning no camera detected
  Warning no USB sound card detected
  Warning no network detected
  Warning no internet detected

or you can open the info webpage scroll down to Hardware and check that the camera, sound card, network
and internet have been detected:

  <b>Hardware:</b>
    Camera Supported: <b>True</b>
    Camera Detected: <b>True</b>
    USB Sound Card Detected: <b>True</b>
    Network Detected: <b>True</b>
    Internet Detected: <b>True</b>

If any of the above is set to False check that the cables are connected properly.

If the problem persists contact Phantom Raspberry Blower via email <b>ph4nt0mr45p83rry810w3r@gmail.com</b>
or call: <b>07969860053</b>.

<b>GPIO Pin Configuration:</b>
<b>-----------------------</b>
The Raspberry Pi has a 40 pin connector some of which can be used as inputs or outputs. These connectors
are called General Purpose Input Output pins. The following pin numbers have been allocated:

    Pin 4 ...... Positive Cooling Fan + (red cable) 5v
    Pin 6 ...... Negative Cooling Fan - (black cable)
    Pin 8 ...... PWM Cooling Fan Switch (blue cable)
    Pin 12 ..... Streaming LED + (red cable)
    Pin 14 ..... Streaming LED - (white cable)
    Pin 17 ..... Streaming Switch + (red cable) 3v
    Pin 18 ..... Streaming Switch - (black cable)
    Pin 30 ..... Piezo Speaker - (black cable)
    Pin 36 ..... Piezo Speaker + (red cable)

</pre>
  <table style="black;margin-left:auto;margin-right:auto;"><tr><td>
    <input type="button" onclick="location.href='/index.html'" value="Back" style="width: 60px;">&nbsp&nbsp&nbsp
    <input type="button" onclick="location.href='/info.html'" value="Info" style="width: 60px;">
  </td></tr></table>
  <br>
</td></tr></table>
</body>
</html>
