<html>
  <head>
    <title>Audio Video Streaming Service Settings</title>
  </head>
  <style>
    input[type="color"] {-webkit-appearance: none; border: none; background-color: lightgrey; width: 22px; height: 22px;}
    input[type="color"]::-webkit-color-swatch-wrapper {padding: 0;}
    input[type="color"]::-webkit-color-swatch {border: none;}
  </style>
  <body onload="ShowHideLiveStreams()" style="background-color:white;">
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;background-color:silver;"><tr><td>
      <center><h1>Audio Video Streaming Service Settings</h1></center>
      <!-- Style below allows 2 images placed one above the other -->
      <style>
        .containerdiv { float: left; position: relative;}
        .cornerimage { position: absolute; top: 0px; right: 0%; left 0%}
      </style>
      <center>
        <table style="border:0px solid black; width: 480px height: 270px;background-color:silver;"><tr><td>
          <div class="containerdiv width: 480px; height: 270px; ">
          <img border="0" src="no_preview.png" width="480" height="270" alt="">
          <img class="cornerimage" border="0" src="stream.mjpg" width="480" height="270" alt="">
        <div>
        </td></tr></table>
      </center>
      <!--hidden-->
      <!-- End of Style -->
      <form action="/" method="POST">
        <label for="audio_sttings"><b>Audio:</b></label>
        <br>
        <table style="border:1px solid black;width: 100%; background-color:lightgrey;"><tr><td>
          <label for="audio_out_codec">Codec:</label>
          <select id="audio_out_codec" name="audio_out_codec" style="width: 60px;"> <!--audio_out_codec_txt--></select>
          <label for="audio_out_bitrate">Bitrate:</label>
          <select id="audio_out_bitrate" name="audio_out_bitrate" style="width: 60px;"> <!--audio_out_bitrate_txt--></select>
          <label for="audio_out_sample_rate">Sample Rate:</label>
          <select id="audio_out_sample_rate" name="audio_out_sample_rate" style="width: 70px;" > <!--audio_out_sample_rate_txt--></select>
          </td></tr>
        </table>
        <br>
        <label for="video_settings"><b>Video:</b></label><br>
        <table style="border:1px solid black;margin-left:auto;margin-right:auto; background-color:lightgrey"><tr><td>
          <label for="video_in_bitrate">Bitrate:</label>
          <input type="text" id="video_in_bitrate" name="video_in_bitrate" value="<!--video_in_bitrate-->" style="width: 70px;">
          <label for="video_in_frames_per_second">Frames per Second:</label>
          <select name="video_in_frames_per_second" id="video_in_frames_per_second" style="width: 40px;"> <!--video_in_frames_per_second_txt--></select>
          <label for="video_res">Resolution:</label>
          <select name="video_res" id="video_res" style="width: 90px;"> <!--video_resolution_txt--></select>
          <label for="video_out_codec">Codec:</label>
          <select id="video_out_codec" name="video_out_codec" style="width: 70px;" > <!--video_out_codec_txt--></select>
          <br><br>
          <label for="video_image_exposure">Exposure:</label>
          <select name="video_image_exposure" id="video_image_exposure" style="width: 100px;"> <!--video_image_exposure_txt--></select>
          <label for="video_image_profile">Profile:</label>
          <select name="video_image_profile" id="video_image_profile" style="width: 75px;"> <!--video_image_profile_txt--></select>
          <label for="video_image_effect">Image Effect:</label>
          <select name="video_image_effect" id="video_image_effect" style="width: 110px;"> <!--video_image_effect_txt--></select>    
          <br><br>
          <label for="video_image_automatic_white_balance">White Balance:</label>
          <select name="video_image_automatic_white_balance" id="video_image_automatic_white_balance" style="width: 105px;"> <!--video_image_automatic_white_balance_txt--></select>
          <label for="video_image_dynamic_range_compression">DR Compression:</label>
          <select name="video_image_dynamic_range_compression" id="video_image_dynamic_range_compression" style="width: 52px;"> <!--video_image_dynamic_range_compression_txt--></select>
          <label for="video_image_flicker_avoidance">Flicker Avoidance:</label>
          <select name="video_image_flicker_avoidance" id="video_image_flicker_avoidance" style="width: 54px;"> <!--video_image_flicker_avoidance_txt--></select>
          <br><br>
          <label for="video_image_rotation">Rotation:</label>
          <select name="video_image_rotation" id="video_image_rotation" style="width: 50px;"> <!--video_image_rotation_txt--></select>
          <label for="video_image_horizontal_flip">Horizontal Flip </label>
          <input type="checkbox" id="video_image_horizontal_flip" name="video_image_horizontal_flip" <!--video_image_horizontal_flip_txt-->>
          <label for="video_image_vertical_flip">Vertical Flip </label>
          <input type="checkbox" id="video_image_vertical_flip" name="video_image_vertical_flip" <!--video_image_vertical_flip_txt-->>
          <label for="video_stabilisation">Video Stabilisation </label>
          <input type="checkbox" id="video_stabilisation" name="video_stabilisation" <!--video_stabilisation_txt-->>
          <br><br>
          <center>
            <table><tr><td>
              <center>
                <label for="video_image_brightness">Brigthness:</label>
                <input type="text" id="video_image_brightness_input" value="<!--video_image_brightness-->" style="width: 35px;"><br>
              </center>
              <input type="range" id="video_image_brightness" name="video_image_brightness" min="0" max="100" onchange="updateBrightnessInput(this.value);" value="<!--video_image_brightness-->" style="width: 139px;">
              <br>
              </td><td>
              <center>
                <label for="video_image_contrast">Contrast:</label>
                <input type="text" id="video_image_contrast_input" value="<!--video_image_contrast-->" style="width: 35px;"><br>
              </center>
              <input type="range" id="video_image_contrast" name="video_image_contrast" min="-100" max="100" onchange="updateContrastInput(this.value);" value="<!--video_image_contrast-->" style="width: 139px;"><br>
              </td>
              <td>
              <center>
                <label for="video_image_saturation">Saturation:</label>
                <input type="text" id="video_image_saturation_input" value="<!--video_image_saturation-->" style="width: 35px;"><br>
                <input type="range" id="video_image_saturation" name="video_image_saturation" min="-100" max="100" onchange="updateSaturationInput(this.value);" value="<!--video_image_saturation-->" style="width: 139px;"><br>
              </center>
              </td>
              <td>
              <center>
                <label for="video_image_sharpness">Sharpness:</label>
                <input type="text" id="video_image_sharpness_input" value="<!--video_image_sharpness-->" style="width: 35px;"><br>
                <input type="range" id="video_image_sharpness" name="video_image_sharpness" min="-100" max="100" onchange="updateSharpnessInput(this.value);" value="<!--video_image_sharpness-->" style="width: 139px;">
              </center>
              </td></tr>
            </table>
          </center>
          </td></tr>
        </table>
        <br>
        <label for="sync_settings"><b>Sync:</b></label><br>
        <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
          <label for="itsoffset_seconds">Offset in Seconds:</label>
          <input type="text" id="itsoffset_seconds" name="itsoffset_seconds" value="<!--itsoffset_seconds-->" style="width: 60px;">
          <label for="itsoffset">Offset Type:</label>
          <select name="itsoffset" id="itsoffset" style="width: 65px;"> <!--itsoffset_txt--></select>
          </td></tr>
        </table>
        <br>
        <label for="text_overlay_settings"><b>Text Overlay:</b></label><br>
        <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
          <label for="video_out_overlay_text">Text:</label>
          <input type="text" id="video_out_overlay_text" name="video_out_overlay_text" value="<!--video_out_overlay_text-->" style="width: 557px;">
          <br><br>
          <label for="video_out_overlay_text_size">Text Size:</label>
          <select id="video_out_overlay_text_size" name="video_out_overlay_text_size" style="width: 42px;" > <!--video_out_overlay_text_size_txt--></select>
          <label for="video_out_overlay_text_color">Text Shade:</label>
          <input type="color" id="video_out_overlay_text_color" name="video_out_overlay_text_color" onchange="clickColor(0, -1, -1, 5)" value="<!--video_out_overlay_text_color-->">
          <label for="video_out_overlay_bg_color_enabled">Enable Background </label>
          <input type="checkbox" id="video_out_overlay_bg_color_enabled" name="video_out_overlay_bg_color_enabled" onclick="EnableDisableBackground(this)" <!--video_out_overlay_bg_color_enabled_txt-->>
          <label for="video_out_overlay_bg_color">Background Colour:</label>
          <input type="color" id="video_out_overlay_bg_color" name="video_out_overlay_bg_color" onchange="clickColor(0, -1, -1, 5)" value="<!--video_out_overlay_bg_color-->" <!--startup_bg_color_enabled-->>
          </td></tr>
        </table>
        <br>
        <label for="metadata_settings"><b>Metadata:</b></label><br>
        <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
          <label for="metadata_title">Title:</label>
          <input type="text" id="metadata_title" name="metadata_title" value="<!--metadata_title-->" style="width: 419px;">
          <label for="metadata_year">Year:</label>
          <input type="text" id="metadata_year" name="metadata_year" value="<!--metadata_year-->" style="width: 94px;"><br><br>
          <label for="metadata_description">Description:</label>
          <input type="text" id="metadata_description" name="metadata_description" value="<!--metadata_description-->" style="width: 510px;">
          </td></tr>
        </table>
        <br>
        <label for="streaming_platform_settings"><b>Streaming Platforms:</b></label>
        <table style="border:1px solid black;width: 100%; background-color:lightgrey;"><tr><td>
          <label for="stream_to_facebook">Facebook </label>
          <input type="checkbox" id="stream_to_facebook" name="stream_to_facebook" value="True" onclick="ShowHideLiveStream(this)" <!--startup_enabled--><!--stream_to_facebook_txt-->>    
          <input type="hidden" id="hidden_stream_to_facebook" name="stream_to_facebook" value="False" />
          <label for="stream_to_periscope">Periscope </label>
          <input type="checkbox" id="stream_to_periscope" name="stream_to_periscope" onclick="ShowHidePeriscope(this)" <!--startup_enabled--><!--stream_to_periscope_txt-->>
          <label for="stream_to_twitch">Twitch </label>
          <input type="checkbox" id="stream_to_twitch" name="stream_to_twitch" onclick="ShowHideTwitch(this)" <!--startup_enabled--><!--stream_to_twitch_txt-->>
          <label for="stream_to_ustream">Ustream </label>
          <input type="checkbox" id="stream_to_ustream" name="stream_to_ustream" onclick="ShowHideUstream(this)" <!--startup_enabled--><!--stream_to_ustream_txt-->>
          <label for="stream_to_vimeo">Vimeo </label>
          <input type="checkbox" id="stream_to_vimeo" name="stream_to_vimeo" onclick="ShowHideVimeo(this)" <!--startup_enabled--><!--stream_to_vimeo_txt-->>
          <label for="stream_to_youtube">YouTube </label>
          <input type="checkbox" id="stream_to_youtube" name="stream_to_youtube" onclick="ShowHideYouTube(this)" <!--startup_enabled--><!--stream_to_youtube_txt-->>
          <label for="stream_to_facebook_settings" id="stream_to_facebook_settings" style="display:none"><b>Facebook Settings:</b></label>
          <table id="stream_to_facebook_table" style="display: none; border:1px solid black; width: 100%; background-color:lightskyblue;"><tr><td>
            <label for="facebook_url" id="facebook_url_label">URL:</label>
            <input type="text" id="facebook_url" name="facebook_url" value="<!--facebook_url-->" style="width: 545px;">
            <br><br>
            <label for="facebook_stream_key" id="facebook_stream_key_label">Stream ID:</label>
            <input type="text" id="facebook_stream_key" name="facebook_stream_key" value="<!--facebook_stream_key-->" style="width: 510px;">
            </td></tr>
          </table>
          <label for="periscope_settings" id="periscope_settings" style="display:none"><b>Periscope Settings:</b></label>
          <table id="periscope_table" style="display: none; border:1px solid black; width: 100%; background-color:lightblue;"><tr><td>
            <label for="periscope_url" id="periscope_url_label">URL:</label>
            <input type="text" id="periscope_url" name="periscope_url" value="<!--periscope_url-->" style="width: 545px;">
            <br><br>
            <label for="periscope_stream_key" id="periscope_stream_key_label">Stream ID:</label>
            <input type="text" id="periscope_stream_key" name="periscope_stream_key" value="<!--periscope_stream_key-->" style="width: 510px;">
            </td></tr>
          </table>
          <label for="twitch_settings" id="twitch_settings" style="display:none"><b>Twitch Settings:</b></label>
          <table id="twitch_table" style="display: none; border:1px solid black; width: 100%; background-color:mediumseagreen;"><tr><td>
            <label for="twitch_url" id="twitch_url_label">URL:</label>
            <input type="text" id="twitch_url" name="twitch_url" value="<!--twitch_url-->" style="width: 545px;">
            <br><br>
            <label for="twitch_stream_key" id="twitch_stream_key_label">Stream ID:</label>
            <input type="text" id="twitch_stream_key" name="twitch_stream_key" value="<!--twitch_stream_key-->" style="width: 510px;">
            </td></tr>
          </table>
          <label for="ustream_settings" id="ustream_settings" style="display:none"><b>Ustream Settings:</b></label>
          <table id="ustream_table" style="display: none; border:1px solid black; width: 100%; background-color:lightgreen;"><tr><td>
            <label for="ustream_url" id="ustream_url_label">URL:</label>
            <input type="text" id="ustream_url" name="ustream_url" value="<!--ustream_url-->" style="width: 545px;">
            <br><br>
              <label for="ustream_stream_key" id="ustream_stream_key_label">Stream ID:</label>
            <input type="text" id="ustream_stream_key" name="ustream_stream_key" value="<!--ustream_stream_key-->" style="width: 510px;">
            </td></tr>
          </table>
          <label for="vimeo_settings" id="vimeo_settings" style="display:none"><b>Vimeo Settings:</b></label>
          <table id="vimeo_table" style="display: none; border:1px solid black; width: 100%; background-color:indianred;"><tr><td>
            <label for="vimeo_url" id="vimeo_url_label">URL:</label>
            <input type="text" id="vimeo_url" name="vimeo_url" value="<!--vimeo_url-->" style="width: 545px;">
            <br><br>
            <label for="vimeo_stream_key" id="vimeo_stream_key_label">Stream ID:</label>
            <input type="text" id="vimeo_stream_key" name="vimeo_stream_key" value="<!--vimeo_stream_key-->" style="width: 510px;">
            </td></tr>
          </table>
          <label for="youtube_settings" id="youtube_settings" style="display:none"><b>YouTube Settings:</b></label>
          <table id="youtube_table" style="display: none; border:1px solid black; width: 100%; background-color:lightcoral;"><tr><td>
            <label for="youtube_url" id="youtube_url_label">URL:</label>
            <input type="text" id="youtube_url" name="youtube_url" value="<!--youtube_url-->" style="width: 545px;">
            <br><br>
            <label for="youtube_stream_key" id="youtube_stream_key_label">Stream ID:</label>
            <input type="text" id="youtube_stream_key" name="youtube_stream_key" value="<!--youtube_stream_key-->" style="width: 510px;">
            </td></tr>
          </table>
          </td></tr>
        </table>
        <br>
        <label for="update_settings"><b>Updates:</b></label><br>
        <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
          <label for="update_interval_days">Interval (days):</label>
          <select id="update_interval_days" name="update_interval_days" style="width: 42px;"> <!--update_interval_days_txt--></select>
          <label for="update_os">Update OS </label>
          <input type="checkbox" id="update_os" name="update_os" <!--update_os_txt-->>
          <label for="upgrade_os">Upgrade OS </label>
          <input type="checkbox" id="upgrade_os" name="upgrade_os" <!--upgrade_os_txt-->>
          </td></tr>
        </table>
        <br>
        <label for="misc_settings"><b>Miscellaneous:</b></label><br>
        <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
          <label for="enable_speaker">Enable Speaker </label>
          <input type="checkbox" id="enable_speaker" name="enable_speaker" <!--enable_speaker_txt-->>
          <label for="startup_udp">Startup UDP </label>
          <input type="checkbox" id="startup_udp" name="startup_udp" onclick="EnableDisableCheckBox(this)" <!--startup_udp_txt-->>
          <label for="logging_level">Logging Level:</label>
          <select id="logging_level" name="logging_level" style="width: 85px;"> <!--logging_level_txt--></select>
          </td></tr>
        </table>
        <br>
        <table style="black;margin-left:auto;margin-right:auto;"><tr><td>
          <input type="submit" onclick="return confirm('Are you sure? Changes will take effect next time you start streaming.')" value="Save" style="width: 60px;">&nbsp&nbsp&nbsp
          <input type="reset" style="width: 60px;">&nbsp&nbsp&nbsp
          <input type="button" onclick="location.href='/help.html'" value="Help" style="width: 60px;">&nbsp&nbsp&nbsp
          <input type="button" onclick="location.href='/info.html'" value="Info" style="width: 60px;">
          </td></tr>
        </table>
      </form> 
      </td></tr>
    </table>
  </body>
  <script type="text/javascript">
    function SubmitDisabledCheckbox(checkbox) {
      var hidden_checkbox = document.getElementById("hidden_" + checkbox.name);
      hidden_checkbox.value = checkbox.checked ? "True" : "False";}
    function updateBrightnessInput(val) {document.getElementById('video_image_brightness_input').value=val;}
    function updateContrastInput(val) {document.getElementById('video_image_contrast_input').value=val;}
    function updateSaturationInput(val) {document.getElementById('video_image_saturation_input').value=val;}
    function updateSharpnessInput(val) {document.getElementById('video_image_sharpness_input').value=val;}
    function EnableDisableBackground(video_out_overlay_bg_color_enabled) {
      var video_out_overlay_bg_color = document.getElementById("video_out_overlay_bg_color");
      video_out_overlay_bg_color.disabled = video_out_overlay_bg_color_enabled.checked ? false : true;}
    function EnableDisableCheckBox(startup_udp) {
      var stream_to_facebook = document.getElementById("stream_to_facebook");
      var facebook_url = document.getElementById("facebook_url");
      var facebook_stream_key = document.getElementById("facebook_stream_key");
      stream_to_facebook.disabled = startup_udp.checked ? true : false;
      facebook_url.disabled = startup_udp.checked ? true : false;
      facebook_stream_key.disabled = startup_udp.checked ? true : false;
      var stream_to_periscope = document.getElementById("stream_to_periscope");
      var periscope_url = document.getElementById("periscope_url");
      var periscope_stream_key = document.getElementById("periscope_stream_key");
      stream_to_periscope.disabled = startup_udp.checked ? true : false;
      periscope_url.disabled = startup_udp.checked ? true : false;
      periscope_stream_key.disabled = startup_udp.checked ? true : false;
      var stream_to_twitch = document.getElementById("stream_to_twitch");
      var twitch_url = document.getElementById("twitch_url");
      var twitch_stream_key = document.getElementById("twitch_stream_key");
      stream_to_twitch.disabled = startup_udp.checked ? true : false;
      twitch_url.disabled = startup_udp.checked ? true : false;
      twitch_stream_key.disabled = startup_udp.checked ? true : false;
      var stream_to_ustream = document.getElementById("stream_to_ustream");
      var ustream_url = document.getElementById("ustream_url");
      var ustream_stream_key = document.getElementById("ustream_stream_key");
      stream_to_ustream.disabled = startup_udp.checked ? true : false;
      ustream_url.disabled = startup_udp.checked ? true : false;
      ustream_stream_key.disabled = startup_udp.checked ? true : false;
      var stream_to_vimeo = document.getElementById("stream_to_vimeo");
      var vimeo_url = document.getElementById("vimeo_url");
      var vimeo_stream_key = document.getElementById("vimeo_stream_key");
      stream_to_vimeo.disabled = startup_udp.checked ? true : false;
      vimeo_url.disabled = startup_udp.checked ? true : false;
      vimeo_stream_key.disabled = startup_udp.checked ? true : false;
      var stream_to_youtube = document.getElementById("stream_to_youtube");
      var youtube_url = document.getElementById("youtube_url");
      var youtube_stream_key = document.getElementById("youtube_stream_key");
      stream_to_youtube.disabled = startup_udp.checked ? true : false;
      youtube_url.disabled = startup_udp.checked ? true : false;
      youtube_stream_key.disabled = startup_udp.checked ? true : false;}
    function ShowHideLiveStreams() {
      ShowHideFacebook(document.getElementById("stream_to_facebook"));
      ShowHidePeriscope(document.getElementById("stream_to_periscope"));
      ShowHideTwitch(document.getElementById("stream_to_twitch"));
      ShowHideUstream(document.getElementById("stream_to_ustream"));
      ShowHideVimeo(document.getElementById("stream_to_vimeo"));
      ShowHideYouTube(document.getElementById("stream_to_youtube"));}
    function ShowHideLiveStream(checkbox) {
      var settings = document.getElementById(checkbox.name + "_settings");
      var table = document.getElementById(checkbox.name + "_table");
      if (checkbox.checked == true)
        {settings.style.display = "block";
         table.style.display = "block";}
      else
        {settings.style.display = "none";
         table.style.display = "none";}}
    function ShowHidePeriscope(stream_to_periscope) {
      var periscope_settings = document.getElementById("periscope_settings");
      var periscope_table = document.getElementById("periscope_table");
      if (stream_to_periscope.checked == true)
        {periscope_settings.style.display = "block";
         periscope_table.style.display = "block";}
      else
        {periscope_settings.style.display = "none";
         periscope_table.style.display = "none";}}
    function ShowHideTwitch(stream_to_twitch) {
      var twitch_settings = document.getElementById("twitch_settings");
      var twitch_table = document.getElementById("twitch_table");
      if (stream_to_twitch.checked == true)
        {twitch_settings.style.display = "block";
         twitch_table.style.display = "block";}
      else
        {twitch_settings.style.display = "none";
         twitch_table.style.display = "none";}}
    function ShowHideUstream(stream_to_ustream) {
      var ustream_settings = document.getElementById("ustream_settings");
      var ustream_table = document.getElementById("ustream_table");
      if (stream_to_ustream.checked == true)
        {ustream_settings.style.display = "block";
         ustream_table.style.display = "block";}
      else
        {ustream_settings.style.display = "none";
         ustream_table.style.display = "none";}}
    function ShowHideVimeo(stream_to_vimeo) {
      var vimeo_settings = document.getElementById("vimeo_settings");
      var vimeo_table = document.getElementById("vimeo_table");
      if (stream_to_vimeo.checked == true)
        {vimeo_settings.style.display = "block";
         vimeo_table.style.display = "block";}
      else
        {vimeo_settings.style.display = "none";
         vimeo_table.style.display = "none";}}
    function ShowHideYouTube(stream_to_youtube) {
      var youtube_settings = document.getElementById("youtube_settings");
      var youtube_table = document.getElementById("youtube_table");
      if (stream_to_youtube.checked == true)
        {youtube_settings.style.display = "block";
         youtube_table.style.display = "block";}
      else
        {youtube_settings.style.display = "none";
         youtube_table.style.display = "none";}}
  </script>
</html>