<html>
<head>
<title>Audio Video Streaming Service Settings</title>
</head>
<style>
  input[type="color"] {-webkit-appearance: none; border: none; background-color: lightgrey; width: 22px; height: 22px;}
  input[type="color"]::-webkit-color-swatch-wrapper {padding: 0;}
  input[type="color"]::-webkit-color-swatch {border: none;}
</style>
<body style="background-color:white;">
<table style="border:1px solid black;margin-left:auto;margin-right:auto;background-color:silver;"><tr><td>
<center><h1>Audio Video Streaming Service Settings</h1></center>
<!-- Style below allows 2 images placed one above the other -->
<style>
  .containerdiv { float: left; position: relative;}
  .cornerimage { position: absolute; top: 0px; right: 0%; left 0%}
</style>
<center>
<table style="border:0px solid black; width: 480px height: 270px;background-color:silver;"><tr><td>
<div class="containerdiv width: 480px; height: 270px; ">
  <img border="0" src="no_preview.png" width="480" height="270" alt="">
  <img class="cornerimage" border="0" src="stream.mjpg" width="480" height="270" alt="">
<div>
</td></tr></table>
</center>
<!--hidden-->
<!-- End of Style -->
  <form action="/" method="POST">
  <label for="audio_sttings"><b>Audio:</b></label>
  <br>
  <table style="border:1px solid black;width: 100%; background-color:lightgrey;"><tr><td>
    <label for="audio_out_codec">Codec:</label>
    <select id="audio_out_codec" name="audio_out_codec" style="width: 60px;"> <!--audio_out_codec_txt-->
    </select>
    <label for="audio_out_bitrate">Bitrate:</label>
    <select id="audio_out_bitrate" name="audio_out_bitrate" style="width: 60px;"> <!--audio_out_bitrate_txt-->
    </select>
    <label for="audio_out_sample_rate">Sample Rate:</label>
    <select id="audio_out_sample_rate" name="audio_out_sample_rate" style="width: 70px;" > <!--audio_out_sample_rate_txt-->
    </select>
  </td></tr></table>
  <br>
  <label for="video_settings"><b>Video:</b></label><br>
  <table style="border:1px solid black;margin-left:auto;margin-right:auto; background-color:lightgrey"><tr><td>
    <label for="video_in_bitrate">Bitrate:</label>
    <input type="text" id="video_in_bitrate" name="video_in_bitrate" value="<!--video_in_bitrate-->" style="width: 70px;">
    <label for="video_in_frames_per_second">Frames per Second:</label>
    <select name="video_in_frames_per_second" id="video_in_frames_per_second" style="width: 40px;"> <!--video_in_frames_per_second_txt-->
    </select>
    <label for="video_res">Resolution:</label>
    <select name="video_res" id="video_res" style="width: 90px;"> <!--video_resolution_txt-->
    </select>
    <label for="video_out_codec">Codec:</label>
    <select id="video_out_codec" name="video_out_codec" style="width: 70px;" > <!--video_out_codec_txt-->
    </select><br><br>
    <label for="video_image_exposure">Exposure:</label>
    <select name="video_image_exposure" id="video_image_exposure" style="width: 100px;"> <!--video_image_exposure_txt-->
    </select>
    <label for="video_image_profile">Profile:</label>
    <select name="video_image_profile" id="video_image_profile" style="width: 75px;"> <!--video_image_profile_txt-->
    </select>
    <label for="video_image_effect">Image Effect:</label>
    <select name="video_image_effect" id="video_image_effect" style="width: 110px;"> <!--video_image_effect_txt-->
    </select>    
    <br><br>
    <label for="video_image_automatic_white_balance">White Balance:</label>
    <select name="video_image_automatic_white_balance" id="video_image_automatic_white_balance" style="width: 105px;"> <!--video_image_automatic_white_balance_txt-->
    </select>
    <label for="video_image_dynamic_range_compression">DR Compression:</label>
    <select name="video_image_dynamic_range_compression" id="video_image_dynamic_range_compression" style="width: 52px;"> <!--video_image_dynamic_range_compression_txt-->
    </select>
    <label for="video_image_flicker_avoidance">Flicker Avoidance:</label>
    <select name="video_image_flicker_avoidance" id="video_image_flicker_avoidance" style="width: 54px;"> <!--video_image_flicker_avoidance_txt-->
    </select>
    <br><br>
    <label for="video_image_rotation">Rotation:</label>
    <select name="video_image_rotation" id="video_image_rotation" style="width: 50px;"> <!--video_image_rotation_txt-->
    </select>
    <label for="video_image_horizontal_flip">Horizontal Flip </label>
    <input type="checkbox" id="video_image_horizontal_flip" name="video_image_horizontal_flip" <!--video_image_horizontal_flip_txt-->>
    <label for="video_image_vertical_flip">Vertical Flip </label>
    <input type="checkbox" id="video_image_vertical_flip" name="video_image_vertical_flip" <!--video_image_vertical_flip_txt-->>
    <label for="video_stabilisation">Video Stabilisation </label>
    <input type="checkbox" id="video_stabilisation" name="video_stabilisation" <!--video_stabilisation_txt-->>
    <br><br>
    <center>
    <table><tr>
    <td>
      <center>
      <label for="video_image_brightness">Brigthness:</label>
      <input type="text" id="video_image_brightness_input" value="<!--video_image_brightness-->" style="width: 35px;"><br>
      </center>
      <input type="range" id="video_image_brightness" name="video_image_brightness" min="0" max="100" onchange="updateBrightnessInput(this.value);" value="<!--video_image_brightness-->" style="width: 139px;"><br>
    </td>
    <td>
      <center>
      <label for="video_image_contrast">Contrast:</label>
      <input type="text" id="video_image_contrast_input" value="<!--video_image_contrast-->" style="width: 35px;"><br>
      </center>
      <input type="range" id="video_image_contrast" name="video_image_contrast" min="-100" max="100" onchange="updateContrastInput(this.value);" value="<!--video_image_contrast-->" style="width: 139px;"><br>
    </td>
    <td>
      <center>
      <label for="video_image_saturation">Saturation:</label>
      <input type="text" id="video_image_saturation_input" value="<!--video_image_saturation-->" style="width: 35px;"><br>
      <input type="range" id="video_image_saturation" name="video_image_saturation" min="-100" max="100" onchange="updateSaturationInput(this.value);" value="<!--video_image_saturation-->" style="width: 139px;"><br>
      </center>
    </td>
    <td>
      <center>
      <label for="video_image_sharpness">Sharpness:</label>
      <input type="text" id="video_image_sharpness_input" value="<!--video_image_sharpness-->" style="width: 35px;"><br>
      <input type="range" id="video_image_sharpness" name="video_image_sharpness" min="-100" max="100" onchange="updateSharpnessInput(this.value);" value="<!--video_image_sharpness-->" style="width: 139px;">
      </center>
    </td>
    </tr></table>
    </center>
  </td></tr></table>
  <br>
  <label for="sync_settings"><b>Sync:</b></label><br>
  <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
    <label for="itsoffset_seconds">Offset in Seconds:</label>
    <input type="text" id="itsoffset_seconds" name="itsoffset_seconds" value="<!--itsoffset_seconds-->" style="width: 60px;">
    <label for="itsoffset">Offset Type:</label>
    <select name="itsoffset" id="itsoffset" style="width: 65px;"> <!--itsoffset_txt-->
    </select>
  </td></tr></table>
  <br>
  <label for="text_overlay_settings"><b>Text Overlay:</b></label><br>
  <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
    <label for="video_out_overlay_text">Text:</label>
    <input type="text" id="video_out_overlay_text" name="video_out_overlay_text" value="<!--video_out_overlay_text-->" style="width: 557px;">
    <br><br>
    <label for="video_out_overlay_text_size">Text Size:</label>
    <select id="video_out_overlay_text_size" name="video_out_overlay_text_size" style="width: 42px;" > <!--video_out_overlay_text_size_txt-->
    </select>
    <label for="video_out_overlay_text_color">Text Shade:</label>
    <input type="color" id="video_out_overlay_text_color" name="video_out_overlay_text_color" onchange="clickColor(0, -1, -1, 5)" value="<!--video_out_overlay_text_color-->">
    <label for="video_out_overlay_bg_color_enabled">Enable Background </label>
    <input type="checkbox" id="video_out_overlay_bg_color_enabled" name="video_out_overlay_bg_color_enabled" <!--video_out_overlay_bg_color_enabled_txt-->>
    <label for="video_out_overlay_bg_color">Background Colour:</label>
    <input type="color" id="video_out_overlay_bg_color" name="video_out_overlay_bg_color" onchange="clickColor(0, -1, -1, 5)" value="<!--video_out_overlay_bg_color-->">
  </td></tr></table>
  <br>
  <label for="metadata_settings"><b>Metadata:</b></label><br>
  <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
    <label for="metadata_title">Title:</label>
    <input type="text" id="metadata_title" name="metadata_title" value="<!--metadata_title-->" style="width: 419px;">
    <label for="metadata_year">Year:</label>
    <input type="text" id="metadata_year" name="metadata_year" value="<!--metadata_year-->" style="width: 94px;"><br><br>
    <label for="metadata_description">Description:</label>
    <input type="text" id="metadata_description" name="metadata_description" value="<!--metadata_description-->" style="width: 510px;">
  </td></tr></table>
  <br>
  <label for="streaming_platform_settings"><b>Streaming Platforms:</b></label>
  <table style="border:1px solid black;width: 100%; background-color:lightgrey;"><tr><td>
    <label for="stream_to_facebook">Facebook </label>
    <input type="checkbox" id="stream_to_facebook" name="stream_to_facebook" <!--startup_enabled--><!--stream_to_facebook_txt-->>    
    <label for="stream_to_periscope">Periscope </label>
    <input type="checkbox" id="stream_to_periscope" name="stream_to_periscope" <!--startup_enabled--><!--stream_to_periscope_txt-->>    
    <label for="stream_to_twitch">Twitch </label>
    <input type="checkbox" id="stream_to_twitch" name="stream_to_twitch" <!--startup_enabled--><!--stream_to_twitch_txt-->>    
    <label for="stream_to_ustream">Ustream </label>
    <input type="checkbox" id="stream_to_ustream" name="stream_to_ustream" <!--startup_enabled--><!--stream_to_ustream_txt-->>    
    <label for="stream_to_vimeo">Vimeo </label>
    <input type="checkbox" id="stream_to_vimeo" name="stream_to_vimeo" <!--startup_enabled--><!--stream_to_vimeo_txt-->>    
    <label for="stream_to_youtube">YouTube </label>
    <input type="checkbox" id="stream_to_youtube" name="stream_to_youtube" <!--startup_enabled--><!--stream_to_youtube_txt-->>    
    <br>
    <label for="facebook_url" style="display: none">URL:</label>
    <input type="text" id="facebook_url" name="facebook_url" value="<!--facebook_url-->" <!--startup_enabled--> style="display: none; width: 553px;">
    <label for="facebook_stream_key"style="display: none">Stream ID:</label>
    <input type="text" id="facebook_stream_key" name="facebook_stream_key" value="<!--facebook_stream_key-->" <!--startup_enabled--> style="display: none; width: 518px;">
    <br>
  </td></tr></table>  
  <br>
  <label for="update_settings"><b>Updates:</b></label><br>
  <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
    <label for="update_interval_days">Interval (days):</label>
    <select id="update_interval_days" name="update_interval_days" style="width: 42px;"> <!--update_interval_days_txt-->
    </select>
    <label for="update_os">Update OS </label>
    <input type="checkbox" id="update_os" name="update_os" <!--update_os_txt-->>
    <label for="upgrade_os">Upgrade OS </label>
    <input type="checkbox" id="upgrade_os" name="upgrade_os" <!--upgrade_os_txt-->>
  </td></tr></table>
  <br>
  <label for="misc_settings"><b>Miscellaneous:</b></label><br>
  <table style="border:1px solid black;width: 100%;background-color:lightgrey"><tr><td>
    <label for="enable_speaker">Enable Speaker </label>
    <input type="checkbox" id="enable_speaker" name="enable_speaker" <!--enable_speaker_txt-->>
    <label for="startup_udp">Startup UDP </label>
    <input type="checkbox" id="startup_udp" name="startup_udp" onclick="EnableDisableTextBox(this)" <!--startup_udp_txt-->>
    <label for="logging_level">Logging Level:</label>
    <select id="logging_level" name="logging_level" style="width: 85px;"> <!--logging_level_txt-->
    </select>
  </td></tr></table>
  <br>
  <table style="black;margin-left:auto;margin-right:auto;"><tr><td>
    <input type="submit" onclick="return confirm('Are you sure? Changes will take effect next time you start streaming.')" value="Save" style="width: 60px;">&nbsp&nbsp&nbsp
    <input type="reset" style="width: 60px;">&nbsp&nbsp&nbsp
    <input type="button" onclick="location.href='/help.html'" value="Help" style="width: 60px;">&nbsp&nbsp&nbsp
    <input type="button" onclick="location.href='/info.html'" value="Info" style="width: 60px;">
  </td></tr></table>
  </form> 
</td></tr></table>
</body>
 <script type="text/javascript">
    function updateBrightnessInput(val) {
          document.getElementById('video_image_brightness_input').value=val;}
    function updateContrastInput(val) {
          document.getElementById('video_image_contrast_input').value=val;}
    function updateSaturationInput(val) {
          document.getElementById('video_image_saturation_input').value=val;}
    function updateSharpnessInput(val) {
          document.getElementById('video_image_sharpness_input').value=val;}
    function EnableDisableTextBox(startup_udp) {
      var stream_to_facebook = document.getElementById("stream_to_facebook");
      stream_to_facebook.disabled = startup_udp.checked ? true : false;
      var stream_to_periscope = document.getElementById("stream_to_periscope");
      stream_to_periscope.disabled = startup_udp.checked ? true : false;
      var stream_to_twitch = document.getElementById("stream_to_twitch");
      stream_to_twitch.disabled = startup_udp.checked ? true : false;
      var stream_to_ustream = document.getElementById("stream_to_ustream");
      stream_to_ustream.disabled = startup_udp.checked ? true : false;
      var stream_to_vimeo = document.getElementById("stream_to_vimeo");
      stream_to_vimeo.disabled = startup_udp.checked ? true : false;
      var stream_to_youtube = document.getElementById("stream_to_youtube");
      stream_to_youtube.disabled = startup_udp.checked ? true : false;}
</script>
</html>