<html>
<head>
<title>System Information</title>
</head>
<body style="background-color:white;">
<table style="border:1px solid black;padding-left: 55px;padding-right: 55px;margin-left:auto;margin-right:auto;background-color:silver;"><tr><td>
<center><h1>System Information</h1></center>
<form action="/" method="POST">
 <input type="hidden" id="update" name="update" value="update">
<pre>
<center>
=======================================
Program: <b>av_stream_service.py</b>
Stream Audio & Video to Facebook or UDP
Written By: <b>Phantom Raspberry Blower</b>
Date: <b>21-04-2021</b>
=======================================
</center>

<b>Software:</b>
  Username: <!--username-->
  Hostname: <!--hostname-->
  Platform: <!--platform-->
  Distribution: <!--distribution-->
  Dist. Version: <!--dist_version-->
  System: <!--platform_system-->
  Node: <!--platform_node-->
  Release: <!--platform_release-->
  Version: <!--platform_version-->
  Machine: <!--platform_machine-->

<b>CPU:</b>
  Model: <!--cpu_model-->
  Cores: <!--cpu_cores-->
  Temp: <!--cpu_temp-->
  Clock Speed: <!--cpu_clock_speed-->
  Max. Clock Speed: <!--cpu_max_clock_speed-->
  Hardware: <!--cpu_hardware-->
  Revision: <!--cpu_revision-->
  Serial No.: <!--cpu_serial_number-->

<b>GPU:</b>
  Temp: <!--gpu_temp-->
  Clock Speed: <!--gpu_clock_speed-->
  Memory: <!--gpu_memory-->

<b>Memory:</b>
  Total: <!--total_mem--><b>MB</b>
  Used: <!--used_mem--><b>MB</b>
  Free: <!--free_mem--><b>MB</b>

<!--disk_info_txt-->
<b>Network:</b>
  LAN IP:
      eth0: <!--eth0_lan_ip-->
      wlan0: <!--wlan0_lan_ip-->
  Gateway: <!--gateway_ip-->
  WAN IP: <!--wan_ip-->

<b>Hardware:</b>
  Camera Supported: <!--camera_supported-->
  Camera Detected: <!--camera_detected-->
  USB Sound Card Detected: <!--usb_sound_card_detected-->
  Network Detected: <!--network_detected-->
  Internet Detected: <!--internet_detected-->

<b>AVSS Settings:</b>
<b>--------------</b>
Audio:
  Hardware: <!--audio_hardware-->
  Audio In:
    Channels: <!--audio_in_channels-->
    Codec: <!--audio_in_codec-->
    Sample Rate: <!--audio_in_sample_rate-->
  Audio Out:
    Bitrate: <!--audio_out_bitrate-->
    Codec: <!--audio_out_codec-->
    Sample Rate: <!--audio_out_sample_rate-->
Broadcast:
  URL: <!--broadcast_url-->
  Port: <!--broadcast_port-->
Enable Speaker: <!--enable_speaker-->
Facebook:
  URL: <!--facebook_url-->
  Stream Key: <!--facebook_stream_key-->
GPIO Pins:
  LED: <!--gpio_led_pin-->
  Switch: <!--gpio_switch_pin-->
  Speaker: <!--gpio_spkr_pin-->
Offset:
  in seconds: <!--itsoffset_seconds-->
  Source: <!--itsoffset-->
Last Updated: <!--last_updated-->
Logging Level: <!--logging_level-->
Metadata:
  Comment: <!--metadata_comment-->
  Copyright: <!--metadata_copyright-->
  Description: <!--metadata_description-->
  Title: <!--metadata_title-->
  Year: <!--metadata_year-->
Startup UDP: <!--startup_udp-->
Updates:
  Interval (days): <!--update_interval_days-->
  Update OS: <!--update_os-->
  Upgrade OS: <!--upgrade_os-->
Video:
  Automatic White Balance: <!--video_image_automatic_white_balance-->
  Brightness: <!--video_image_brightness-->
  Contrast: <!--video_image_contrast-->
  Dynamic Range Compression: <!--video_image_dynamic_range_compression-->
  Effect: <!--video_image_effect-->
  Expsoure: <!--video_image_exposure-->
  Flicker Avoidance: <!--video_image_flicker_avoidance-->
  Horizontal Flip: <!--video_image_horizontal_flip-->
  Profile: <!--video_image_profile-->
  Rotation: <!--video_image_rotation-->
  Saturation: <!--video_image_saturation-->
  Sharpness: <!--video_image_sharpness-->
  Vertical Flip: <!--video_image_vertical_flip-->
  Video In:
    Bitrate: <!--video_in_bitrate-->
    Codec: <!--video_in_codec-->
    Frames per Second: <!--video_in_frames_per_second-->
    Width: <!--video_in_width-->
    Height: <!--video_in_height-->
  Video Out:
    Codec: <!--video_out_codec-->
    Overlay:
      Text: <!--video_out_overlay_text-->
      Text Size: <!--video_out_overlay_text_size-->
      Text Shade: <!--video_out_overlay_text_color-->
      Background:
        Enabled: <!--video_out_overlay_bg_color_enabled-->
        Colour: <!--video_out_overlay_bg_color-->
  Video Stabilisation: <!--video_stabilisation-->'cloud', 
</pre>
  <table style="black;margin-left:auto;margin-right:auto;"><tr><td>
    <input type="submit" onclick="return confirm('Checking for updates.')" value="Update" style="width: 60px;">&nbsp&nbsp&nbsp
    <input type="button" onclick="location.href='/index.html'" value="Back" style="width: 60px;">&nbsp&nbsp&nbsp
    <input type="button" onclick="location.href='/help.html'" value="Help" style="width: 60px;">
  </td></tr></table>
</form>
</td></tr></table>
</body>
</html>
